@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	padding: 0;
	border: none;
}
body{
	margin: 0;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	background-color: #28FAC6;
	font-family: 'Roboto', sans-serif;
}
body > h1,
#reiniciar{
	color: #000;
}
#reiniciar{
	background: #FFF;
}
section > button{
	border: 1px solid #000;
}
#zona_result{
	display: flex;
	width: 500px;
	margin: 0 auto;
}
#zona_result .caption{
	flex:1;
	color: #000;
}
#zona_juego{
	display: block;
	width: 500px;
	float: none;
	margin: 0 auto;
	margin-top: 20px;
}
#resultado{
	display: block;
	width: 500px;
	float: none;
	margin: 10px auto;
	background-color: green;
	border: 1px dashed #000;
	line-height: 50px;
	border-radius: 20px;
}
#score{
	display: block;
	width: 500px;
	float: none;
	margin: 10px auto;
	background-color: blue;
	border: 1px dashed #000;
	line-height: 50px;
	border-radius: 20px;
}